@import "./libs/grid.scss";
@import "./libs/buttons.scss";
@import "./libs/couleurs.scss";
@import "./libs/grid.scss";
@import "./libs/mixins.scss";
@import "./libs/modals.scss";
@import "./libs/navbars.scss";
@import "./libs/reset.scss";
@import "./libs/responsive.scss";

$background: $dark;
$grille: $secondary;

* {
  box-sizing: border-box;
}

body {
  background: $background;
  text-align: center;
  color: $light;
}

h1 {
  font-family: Cinzel;
  font-size: 3em;
  letter-spacing: 0.05em;
  margin-top: 100px;
  margin-bottom: 20px;
}

#startGame {
  margin-top: 100px;
}

.gamer1,
.gamer2 {
  display: inline;
  border: 3mm ridge $secondary;
  border-radius: 1em;
  margin-top: 30px;
  padding-bottom: 3%;
  padding-top: 3%;
  box-shadow: 0.5em 0 0.9em $light;
}

.gamer2 {
  border: 3mm ridge $secondary;
  box-shadow: 0.5em 0 0.9em $light;
}

h3 {
  font-family: Cinzel;
  font-size: 2em;
}

h2 {
  font-family: Cinzel;
  font-size: 1em;
}

.scores {
  border-left: none;
}

@media #{$small-up} {
  .scores {
    border-left: $secondary solid 1px;
  }
}

#score1,
#score2 {
  margin-top: 10px;
  font-size: large;
  font-size: 2em;
}

canvas {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: $secondary solid 2px;
  margin-top: 20px;
}

#game {
  display: inline-block;
  text-align: center;
  background-color: $grille;
  margin-top: 20px;
  margin-bottom: 100px;
}

#game .col {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: $background;
  margin: 5px;
  display: inline-block;

  &.empty {
    cursor: pointer;
  }

  &.joueur1 {
    background: #ff0000;
  }

  &.joueur2 {
    background: rgb(255, 217, 0);
  }

  &.pjoueur1 {
    background: rgba($light, 0.5);
  }

  &.pjoueur2 {
    background: rgba($light, 0.5);
  }
}

#lastMouv {
  display: none;
}
